@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?-2y3gzy');
	src:url('../fonts/icomoon.eot?#iefix-2y3gzy') format('embedded-opentype'),
		url('../fonts/icomoon.woff?-2y3gzy') format('woff'),
		url('../fonts/icomoon.ttf?-2y3gzy') format('truetype'),
		url('../fonts/icomoon.svg?-2y3gzy#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon-add:before {
	content: "\e600";
}

.icon-edit:before {
	content: "\e601";
}

.icon-feedback:before {
	content: "\e602";
}

.icon-return:before {
	content: "\e603";
}

.icon-search:before {
	content: "\e604";
}

.icon-settings:before {
	content: "\e605";
}

.icon-tick:before {
	content: "\e606";
}

.icon-close:before {
	content: "\e607";
}

